<div class = "group-container">
  <span style="pointer-events: none;"><%= @contact_group.name.truncate(10) %></span>
  <input type="checkbox" class = "group-check">
</div>
<ul>
  <% @contact_group.users.each do |user| %>
    <li class = "user-selector-<%= user.public_uid %> user-selector">
      <%= user.name %>
      <input type="checkbox" value="<%= user.public_uid %>">
    </li>
  <% end %>
</ul>
