<span><i class="fas fa-video"></i> ビデオ</span>
<select id="video-change">
  <option value="">変更先の映像を選択してください</option>
  <option value="display">画面をキャプチャする</option>
</select>
<span><i class="fas fa-microphone"></i> マイク</span>
<select id="audio-change">
  <option value="">変更先のマイクを選択してください</option>
</select>
<button id = "device-change-btn">変更</button>