<li>
    <span class = "user-name"><%= user.name %></span>
    <span class = "user-status" id = "user-status-<%= user.public_uid %>"><i class="fas fa-circle"></i></span>
    <span class = "user-microphone" id = "user-microphone-<%= user.public_uid %>"><i class="fas fa-microphone"></i></span>
</li>