<div id = "edit-schedule">
    <div id = "edit-schedule-main">
        <div class = "modal-top-bar">
            <ul>
                <li class = "topbar-header">スケジュール編集</li>
                <li id = "edit-schedule-close" class = "topbar-close-btn"><span>＋</span></li>
            </ul>
        </div>
        <p>右のスケジュールから編集する<br>項目を選択してください。</p>
    </div>
    <div id = "edit-schedule-sub">
        <%= render "schedules/edit_schedule_sub" %>
    </div>
</div>

