<% # ユーザー詳細メッセージ更新用　受信時パーシャル %>
<div class = "message-content other-user">
  <span class = "message-user-name">
    <%= message.user.name %>
  </span>
  <p class = "message">
    <%= safe_join(message.content.split("\n"), tag(:br)) %>
  </p>
  <span class = "message-time"><%= l message.created_at %></span>
</div>





