<% # サイドメッセージ受信用 %>
<div class = "message-content other">
  <span class = "message-name"><%= message.user.name %></span>
  <p></p>
  <span class = "message-date"><%= l message.created_at %></span>
</div>