// Place all the styles related to the contact_group_relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.color-paret {
    background: #2196f3;
    color: #e91e63;
    color: #f49403;
    color: #4b8f21;
    color: rgba(233, 30, 98, 0.9);
    color: rgba(244, 148, 3, 0.9);
    color: rgba(75, 143, 33, 0.9);
    color: rgba(29, 29, 29, 0.9);
    color: rgba(37, 76, 109, 0.9);
}
