<div id = "menu-links">
    <span>管理者画面</span>
    <%= 
        link_to "ユーザー管理",
        managements_path,
        method: :get,
        data: {"turbolinks"=>false},
        style: "#{
            if request.path == "/managements"
                "border-bottom: 4px solid #2196f3; color: #2196f3;"
            end
        }"
    %>
    <%= 
        link_to "勤怠管理",
        managements_attendance_path,
        method: :get,
        data: {"turbolinks"=>false},
        style: "#{
            if request.path == "/managements/attendance"
                "border-bottom: 4px solid #2196f3; color: #2196f3;"
            end
        }"
    %>
    <%= 
        link_to "ユーザー新規作成",
        new_user_registration_path,
        method: :get,
        data: {"turbolinks"=>false},
        style: "#{
            if request.path == "/users/sign_up"
                "border-bottom: 4px solid #2196f3; color: #2196f3;"
            end
        }"
    %>
    <%= 
        link_to "システム設定",
        app_configs_path, 
        method: :get,
        data: {"turbolinks"=>false},
        style: "#{
            if request.path == "/app_configs"
                "border-bottom: 4px solid #2196f3; color: #2196f3;"
            end
        }"
    %>
</div>